<div style="display: flex; flex-direction: column; background-color: #e4dacd; padding: 16px; min-height: 100vh;">
  <style type="text/css">* { margin: 0; }</style>
  <div style="display:flex; flex-direction: column; place-self: center; place-items: center; gap: 16px;">
    <img src="../images/laurencebf.png" style="max-width: 240px;"/>
    <div style="display:flex; flex-direction: column; gap: 16px; max-width: fit-content; border-top: medium solid #e6a97e; padding: 16px; font-family: 'Mulish', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      <h2>Confirmez votre inscription</h2>
      <p>Cliquez sur le lien suivant pour confirmer votre adresse courriel:</p>
      <p><a href="{{ .ConfirmationURL }}">Confirmer votre courriel</a></p> 
      <img src="../images/logo.png" width="120" style="align-self: center; margin-top: 24px;"/>
    </div>
  </div>
</div>
